

.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo,.contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}
.contato__texto{
    font-weight: 300;
    margin: 1em 0;

}

.contato__email{
    border: 1px solid var(--azul);
    width: 90%;
    padding: 1em;
    border-radius: 24px;
    color: var(--azul);
}

.contato__email::placeholder{
    background: url("../img/Email.svg") no-repeat;
    color:var(--azul);
    padding-left: 2em;
    font-family: var(--fonte-principal);

}

@media screen and (min-width:1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__descrição{
        margin-right:1em;
        width: 30%;
    }
    .contato__titulo{
        font-size: 24px;
    }
    .contato__email{
        width: 30%;
    }
}
