.tópicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo{
    margin-bottom: 1em;
    font-weight: 300;
    color: var(--branco);
}

.tópicos__lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tópicos__item{
    margin: 2em 0.8em;
}

.tópicos__link{
    padding:1em;
    text-decoration: none;
    color:var(--branco);
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:1024px){
    .tópicos__titulo{
        font-size: 24px;
    }

    .tópicos__link{
        font-size: 24px;
    }
}