.banner{
    background: var(--azul-degrade);
    color:var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1.5em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    width: 100%;
    padding: 1em;
    border-radius: 26px;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    background-image: url('../img/Lupa.svg');
    background-repeat: no-repeat;
    background-position: 0.2em;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);

}

@media screen and (min-width:1024px){
    .banner {
        padding: 4em 2em;
    }
    
    .banner__titulo{
        font-size: 36px;

    }

    .banner__pesquisa{
        width: 50%;
    }
    .banner__pesquisa::placeholder{
        background-position: 6em;
    }
    
}

@media screen and (min-width:1728px){
    .banner__pesquisa{
        width: 40%;
    }
    .banner__pesquisa::placeholder{
        background-position: 12.5em;
    }
    .banner{
        padding:6em 3em;
    }
}